.tiles-div{
    display: flex;
}

.blogtxt{
    position: fixed;
    margin-top: 15px;
    width: 13%;
    height: 30%;
    margin-left: 300px;
    position: absolute;
}
.tiles{
    font-size: 90px;
    height: 100px;
    width: 120px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 25px;
}